anyio==3.3.2
appnope 
argon2-cffi 
async-generator 
attrs 
backcall 
bleach
blis==0.7.4
catalogue==2.0.6
certifi==2021.5.30
cffi 
charset-normalizer==2.0.6
click==8.0.1
cycler==0.10.0
cymem==2.0.5
debugpy 
decorator 
defusedxml 
emojis==0.6.0
entrypoints==0.3
idna==3.2
importlib-metadata 
ipykernel 
ipyleaflet==0.14.0
ipython 
ipython-genutils 
ipywidgets 
jedi 
Jinja2 
joblib==1.0.1
jsonschema 
jupyter-client==6.1.12
jupyter-core 
jupyter-server==1.11.0
jupyterlab-pygments 
jupyterlab-widgets 
kiwisolver==1.3.2
MarkupSafe 
matplotlib==3.4.3
matplotlib-inline 
mistune 
murmurhash==1.0.5
nbclient
nbconvert 
nbformat 
nest-asyncio 
nltk==3.6.3
notebook 
numpy==1.21.2
packaging
pandas==1.3.3
pandocfilters 
parso 
pathy==0.6.0
pexpect 
pickleshare 
Pillow==8.3.2
preshed==3.0.5
prometheus-client 
prompt-toolkit 
ptyprocess 
pycparser 
pydantic==1.8.2
Pygments 
pyparsing 
pyrsistent 
python-dateutil 
pytz==2021.1
pyzmq 
regex==2021.9.30
requests==2.26.0
requests-unixsocket==0.2.0
scikit-learn==1.0
scipy==1.7.1
seaborn==0.11.2
Send2Trash 
six 
sklearn==0.0
smart-open==5.2.1
sniffio==1.2.0
spacy==3.1.3
spacy-legacy==3.0.8
srsly==2.4.1
terminado==0.9.4
testpath 
thinc==8.0.10
threadpoolctl==2.2.0
tornado 
tqdm==4.62.3
traitlets 
traittypes==0.2.1
typer==0.4.0
typing-extensions==3.10.0.2
urllib3==1.26.7
voila==0.2.15
wasabi==0.8.2
wcwidth 
webencodings==0.5.1
websocket-client==1.2.1
widgetsnbextension 
zipp 
